img{ /*concerne les grands écrans, les ordis*/
  width: 50%;
}
/*concerne les écrans moyens, 992 max pour les tablettes*/
@media screen and (max-width: 992px) {
  img{
    width: 75%;
  }
}
/*concerne les petits écrans, pour les portables*/
@media screen and (max-width: 576px){
  img{
    width: 100%
  }
}
